.Herosection {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
        object-fit: contain;
    }

    .Herosection-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
    }

    .Herosection-recomend {
            position: fixed;
            left: 0;
            bottom: 0;
        }

        .Recomend-contener {
            margin: 0 0 60px 100px;
        }

        .Recomend-contener > li {
            display: flex;
            flex-direction: row;
            margin: 0 0 20px 0;
        }

        .Recomend-contener > li > h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
            font-size: 40px;
            /* text-decoration: underline; */
        }
        
        .Recomend-contener > li > p {
            margin: 0 10px 0 0;
            font-size: 18px;
        }

        .Recomend-contener > li > a {
            margin: 0 20px 0 0;
        }



@media screen and (max-width: 960px) {
    .hero-conteinter {
                margin-bottom: -50%;
                width: 80%;
            }

            .line-under-text {
                width: 60%;
            }

            .hero-conteinter--items {
                display: none;
            }

            .hero-conteinter > h1 {
                        padding-bottom: 25px;
                        position: relative;
                        font-size: 40px;
                    }

                    h3 {
                        font-size: 18px;
                    }
}

