.Explore__item {
    display: table-caption;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(255, 255, 255, 0.2);
}
    .Explore__item--link {
            text-decoration: none!important; 
        }

        .test {
            position: absolute;
            top: 0px;
            left: px;
            
        }

        /* .Explore__item--pic-wrap::after {
            content: attr(data-category);
            position: absolute;
            bottom: 100px;
            margin-left: 75px;
            padding: 6px 8px;
            max-width: calc((100%) - 60px);
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            background-color: #1f98f4;
            box-sizing: border-box;
        } */

        .Explore__item--pic-wrap {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }

                .Explore__item--image {
                    position: relative;
                    display: block;
                    object-fit: cover;
                    width: 245px;
                    height: 353px;
                    object-fit: cover;
                    transition: 0.25s linear;
                }

                .Explore__item--image:hover {
                    transform: scale(1.05);
                }

                .Explore__item--underline {
                            width: auto;
                            height: 100px;
                            display: -webkit-box;
                            background-color: rgba(26, 26, 26, 0.4);                            
                        }

                        .ExploreImage-items {
                                    position: relative;
                                }

                                .ExploreRates {
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            margin: 0 0 0 10px;
                                        }
                                        
                                        
                                        .ExploreImage-rate_stars {
                                            display: flex;
                                            justify-content: center;
                                            color: rgb(212, 175, 55, 1);
                                            font-size: 16px;
                                        }

                                        .ExploreImage-rate_number {
                                            color: rgb(255,255,255, 1);
                                            margin: 0 0 0 5px;
                                        }
                                
                                .ExploreImage-title {
                                            position: relative;
                                            color: rgb(255,255,255,1);
                                            font-size: 14px;
                                            text-align: right;
                                        }
                                        
                                        .ExploreLink {
                                            margin: 5px 0 0 0;
                                            display: flex;
                                            flex-direction: row;
                                        }

                                

                                .ExploreImage-button {
                                    background-color: transparent;
                                    border-color: transparent;
                                }

.right-arrow__explore {
    position: absolute;
    top: 150px;
    right: 5px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    user-select: unset;
}

.left-arrow__explore {
    position: absolute;
    top: 150px;
    left: 5px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    user-select: unset;
}

.rigt-arrow-background__explore, .left-arrow-background__explore {
        background-color: rgb(22, 22, 26, .4);
        width: 50px;
        height: 50px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: 450ms ease;
    }

    .rigt-arrow-background__explore:hover, .right-arrow-icon__explore:hover, .left-arrow-background__explore:hover, .left-arrow-icon__explore:hover {
        filter: brightness(125%);
        transition: 450ms ease;
    }


@media screen and (max-width: 1366px) {
    .slick-slider {
        margin: 0 10px;
    }

    .Explore__item--link {
                height: 95px;
            }

            .Explore__item--image {
                width: 210px;
                height: 315px;
            }
}


