.Explore__item {
    display: table-caption;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(255, 255, 255, 0.2);
    box-shadow: 0 2px 3px 0px;
}
    .Explore__item--link {
            text-decoration: none!important; 
        }

        /* .test {
            position: absolute;
            top: 0;
            margin-left: 70px;
            
        } */

        .Explore__item--pic-wrap {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }

                .Explore__item--image {
                    position: relative;
                    display: block;
                    object-fit: cover;
                    width: 245px;
                    height: 353px;
                    object-fit: cover;
                    transition: 0.25s linear;
                }

                .Explore__item--image:hover {
                    transform: scale(1.05);
                }

    .Explore__item--underline {
                width: auto;
                height: 100px;
                display: -webkit-box;
                background-color: rgb(26, 26, 26, 0.4);                            
            }

            .Explore__item--contents {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;
                    }
                    
                    .Explore__item--buttons {
                                display: flex;
                                align-self: flex-start;
                                
                                flex-direction: row;
                                margin: 0 0 0 5px;
                            }
                            
                            .Explore__item--button {
                                        border-radius: 4px;
                                        background-color: transparent;
                                        border: none;
                                        transition: 250ms ease;
                                        margin: 0 3px 0 0;
                                    }

                                    .Explore__item--icon {
                                        display: flex;
                                        color: rgb(255,255,255, 1);
                                        margin: 1px 1px 1px 1px;
                                        font-size: 36px;
                                    }

                                    .Explore__item--button:hover {
                                        color: rgb(255,255,255, .8);
                                        background-color: rgb(255,255,255, 0.04);
                                        cursor: pointer;
                                    } 

                            .Explore__item--rate {
                                        display: flex;
                                        align-items: center;
                                        margin: 0 0 0 110px;
                                    }

                                    .Explore__item--number {
                                        display: flex;
                                        align-items: center;
                                        color: rgb(13,155,255,1);
                                    }

                    .Explore__item--title {
                                align-self: flex-start;
                                margin: 5px 0 0 7px;
                            }

                            .Explore__item--text {
                                color: rgb(255,255,255,1);
                            }
            

.right-arrow__explore, .left-arrow__explore {
    position: absolute;
    top: 155px;
    font-size: 2rem;
    z-index: 1;
    cursor: pointer;
    user-select: unset;
}

.right-arrow__explore {
    right: 15px;
}

.left-arrow__explore {
    left: 15px;
}

.rigt-arrow-background__explore, .left-arrow-background__explore {
        background-color: rgb(255, 255, 255, 0.8);
        width: 40px;
        height: 40px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: 450ms ease;
    }

    .rigt-arrow-background__explore:hover, .right-arrow-icon__explore:hover, .left-arrow-background__explore:hover, .left-arrow-icon__explore:hover {
        filter: brightness(100%);
        transition: 550ms ease;
    }

    .left-arrow-icon__explore:hover, .right-arrow-icon__explore:hover {
       
    }


@media screen and (max-width: 1366px) {

    .right-arrow__explore {
        right: 7.5px;
    }

    .left-arrow__explore {
        left: 7.5px;
    }

    .slick-slider {
        margin: 0 10px;
    }

    .Explore__item--link {
                height: 95px;
            }

            .Explore__item--image {
                width: 210px;
                height: 315px;
            }

    .Explore__item--rate {
        margin: 0 0 0 75px;
    }
}

@media screen and (max-width: 960px) {
    .Explore__item--button:hover {
        color: transparent;
        background-color: transparent;
        cursor: none;
    } 
}

