:root {
    --btn-clr-white: rgb(255, 255, 255, 1);
    --btn-clr-grey: rgb(31, 31, 31, 0.9);
    --btn-clr-lightblue: rgb(13,155,255,1);
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}


.btn--outline {
    color: var(--btn-clr-white);
    background-color: transparent;
    border-radius: 5px;
    padding: 14px 50px;
    border: 1px solid;
    transition: 250ms;
        }

        .btn--outline:hover {
                color: var(--btn-clr-lightblue);
                transition: 250ms;
            }

            .btn--outline:after:hover {
                padding: 0px;
                transition: 250ms;
            }

    .btn--outline-search {
                color: var(--btn-clr-white);
                background-color: transparent;
                border-radius: 5px;
                padding: 13px 30px;
                border: 1px solid;
                transition: 250ms;
            }

            .btn--outline-search:hover {
                    padding-right: 100px;
                    transition: 250ms;
                }

                .btn--outline-search:after:hover {
                    padding: 0px;
                    transition: 250ms;
                }


            

    .btn--filled {
            color: var(--btn-clr-grey);
            border-radius: 5px;
            padding: 12px 30px;
            border: 3px solid;
            font-weight: bold;
            background-color: var(--btn-clr-white);
            border-color: var(--btn-clr-white);
            transition: linear 350ms;
            transform: translate3d(30px);
        }

        .btn--filled:hover {
            color: var(--btn-clr-white);
            background-color: rgb(212, 175, 55);
            border-color: rgb(212, 175, 55);
        }

        .btn--filled:after:hover {
            padding: 0px;
            transition: 250ms;
        }

    .btn__get_more {
                
                border-color: (30,30,30, 1);
                background-color: rgb(30, 30, 30, 1);
                color: var(--btn-clr-white);
                border-radius: 6px;
                padding: 7px 15px;
                border: 1px solid;
                transition: 250ms;
            }

            .btn__get_more:hover {
                background-color: var(--btn-clr-lightblue);
                border-color: var(--btn-clr-lightblue);
                transition: 250ms;
            }

            .btn__get_more:after:hover {
                padding: 0px;
                transition: 250ms;
            }

.btn--medium {
    font-size: 18px;
}

.btn--tiny {
    font-size: 12px;
}

@media screen and (max-width: 1366px){
    .btn--medium {
        font-size: 16px;
    }
}

@media screen and (max-width: 960px){
    .btn--medium {
        font-size: 10px;
    }

    .btn--filled {
        padding: 8px 22px; /*18px 30px;*/
    }

    .btn--outline {
        padding: 10px 30px; /*14px 50px;*/
    }
    
}