.Card {
            position: relative;
            display: flex;
            top: 20px;
        }

            .Card__container {      
                text-align: center;
                flex-direction: column;
                display: flex;
                flex: 1;
            }

                .Card__items {
                    flex: 1;
                }

                