.Card { 
            position: relative;
            text-align: center;
            top: 50px;
        }

        .Card__slider {
            position: relative;
            top: 50px;
        }
        
        .Card > h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: rgb(47, 65, 71, 1);
        }

        .Card__container {
            display: flex;
            padding: 0 500px 0 500px;
        }

            .Card__column {      
                flex-direction: column;
                display: flex;
                flex: 1;
                
            }

                .Card__content {
                    flex: 1;
                    
                }

                .Card__items-Link {
                    text-decoration: none;
                }

                .Card__items-Link > h2 {
                    color: rgb(47, 65, 71, 0.8);
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    transition: 300ms ease;
                }

                .Card__items-Link > h2:hover {
                    color: rgb(47, 65, 71, 1);
                    transition: 300ms ease;
                }

                