.navbar {
            position: sticky;
            background: transparent;
            justify-content: center;
            top: 30px;
            height: 0;
            z-index: 1;
            transition: 350ms ease;
            
        }

        .navbar.active {
            background: rgb(31, 31, 31, 0.99);
            transition: 350ms ease;
            height: 80px;
            top: 0px;
        }

        .navbar.active > .navbar-container > .navbar-header--buttons {
            position: sticky;
            top: 50px;
        } 

        .navbar-container { 
            /* justify-content: center;
            max-width: max-content;
            display: flex; */
            align-items: center;
            
            display: flex;
            justify-content: space-between;
        }

        .navbar-header--logo {
                    justify-self: start;
                    margin-left: 100px;
                    display: flex;
                    align-items: center;
                }

                .navbar-header-link--logo {
                    color: rgb(255,255,255,1);
                    text-decoration: none;
                    transition: 0.5s ease; 
                }

                .navbar-header-link--logo > h2 {
                    display: inline;
                    text-align: right; 
                    font-size: 24px;
                }

                .logo-icon {
                    font-size: 36px;
                    position: relative;
                    display: inline;
                    top: 5px;
                   
                }

                .navbar-header-link--logo:hover {
                    color:rgb(212, 175, 55, 0.8);
                    transition: 0.5s ease; 
                }

        .navbar-header--input {
                    justify-content: center;
                    color: rgb(255, 255, 255, 1);
                    border-radius: 18px;
                    padding: 15px 30px;
                    border: 3px solid;
                    width: 400px;
                }

                ::placeholder {
                    color:rgb(255, 255, 255);
                }

                .navbar-header--input > input {
                    background-color: transparent;
                    color: rgb(255, 255, 255, 1);
                    border: none;
                    outline: none;
                    font-size: 16px;
                    flex: 1; 
                    width: 90%;
                }

                .input--box:focus {
                    outline: none;
                }

                .input--icon {
                    font-size: 20px;
                    position: relative;
                    margin-right: 5px;
                    top: 3px;
                  }

        .navbar-header--buttons {
                    display: flex;
                    align-items: center;
                }

                .button-item {
                    display: flex;
                    /* margin: 0 10px 0 10px; */
                }
                

                
        .nav-menu.active {
                    transition: 350ms;
                    right: 0;
                    z-index: 1;
                }
                
                .nav-menu {
                    background-color: rgb(31,31,31);
                    position: fixed;
                    right: -120%;
                    transition: 550ms;
                    width: 100%;
                    height: 100vh;
                    top: 0;
                    z-index: 1;
                }

                .nav-menu-items {
                    width: 100%;
                }

                .menu-bars {
                    color: rgb(255,255,255, 1);
                    font-size: 35px;
                    position: relative;
                    top: 13px;
                    margin: 30px;
                }

        .nav-text {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: 8px 0px 0px 25px;
                    list-style: none;
                    height: 50px;
                    font-size: 20px;
                }
        
                .nav-text a {
                    text-decoration: none;
                    color: #f5f5f5;
                    width: 95%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    border-radius: 5px;
                    transition: 250ms;
                }

                .nav-text:hover {
                    text-decoration: underline;
                    transition: 250ms;
                }
        
                span {
                    margin-left: 16px;
                    font-size: 20px;
                }


@media screen and (max-width: 1600px) {
    .navbar-header--logo {
        position: inherit;
        /* padding-right: 75rem; */
    }

    .navbar-header--buttons {
        /* margin: 0 0 0 810px; */
    }

    .navbar-header--input {
        position: inherit;
        left: 200px;
    }

    .logo-icon {
        /* display: none; */
    }
}