.ImageSlider {
    
}

.slide {
    transform: scale(0.75);
    transition: 300ms ease;
    opacity: 0.5;
}

.active {
    transform: none;
    transition: 300ms ease;
    opacity: 1;
}
.image-slider {
    
    /* width: 365px; */
    height: 550px;
    margin: 0 auto;
    object-fit: cover;
}
.image {
        
        max-width:100%;
        max-height:100%;
        /* width: 350px;
        height: 550px; */
        
    }

    .title-text {
        font-size: 20px;
        color: white;
    }

    .title-rate {
        position: inherit;
        color: rgb(212, 175, 55, 1);
        font-size: 22px;
    }
    .image-text--items {
        
    }
    .image-text {
        position: inherit;
        background-color: rgb(27, 27, 27);
    }
    
    .right-arrow {
            position: absolute;
            top: 200px;
            right: 50px;
            font-size: 3rem;
            color: rgb(31, 31, 31, 1);
            z-index: 1;
            cursor: pointer;
            user-select: unset;
        }

        .right-arrow:hover {
            transition: 350ms ease;
            color: rgb(212, 175, 55, 1);
        }

    .left-arrow {
            position: absolute;
            top: 200px;
            left: 50px;
            font-size: 3rem;
            color: rgb(31, 31, 31, 1);
            z-index: 1;
            cursor: pointer;
            user-select: none;
            transition: 350ms ease;
        }

        .left-arrow:hover {
            transition: 350ms ease;
            color: rgb(212, 175, 55, 1);
        }

    .slide-button {
        padding: 12px 30px;
        text-decoration: none;
    }

