.review-container {
            display: flex;
            flex-direction: row-reverse;
            margin: 50px 0;
        }

        .review-container-user {
                    position: relative;
                    width: 128px;
                    display: flex;   
                    align-content: stretch;
                    justify-content: flex-start;
                    align-items: center;
                }

                .review-avatar {
                    border-radius: 50%;
                    height: 64px;
                    width: 64px;
                }

                .review-username {
                    color: rgb(27, 27, 27);
                    font-weight: bold;
                    font-size: 18px;
                    text-decoration: none;
                }

                .review-rate {
                    color: rgb(195, 162, 53);
                    display: flex;
                    align-content: center;
                    justify-content: flex-start;
                }

                .avatar__image {
                    border-radius: 50%;
                    height: 100%;
                    width: 100%;
                }

                .username-rate {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 15px;
                }

        .review-container-feature {
                    flex: 1;
                    width: 75%;
                }

                .review-name {
                    display: table-cell;
                    color: rgb(27, 27, 27, 1);
                    font-weight: bold;
                    font-size: 22px;
                    text-decoration: none;
                }

                .review-text {
                    display: inline-block;
                    text-align: justify;
                    margin: 0 30px 0 30px;
                    font-size: 18px;
                }

                .review-link {
                    text-decoration: none;
                    color: rgb(195, 162, 53, 1);
                    transition: 250ms linear;
                }

                .review-link:hover {
                    color: rgb(195, 162, 53, 0.7);
                }