@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  font-family: 'PT Sans', sans-serif;
  list-style-type: none;
  box-sizing: border;
  padding: 0;
  margin: 0;
}

.home, .sign {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 12px;
  height: 100vh;
}

.home, .sign {
  color: #fff;
}

.signup {
  opacity: 0.85;
}