* {
  font-family: 'Comic Sans MS', 'bold';
  list-style-type: none;
  box-sizing: border;
  padding: 0;
  margin: 0;
}

.home {
  background-position: center;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  display: flex;
  padding: 25%;
}

.home {
  background-image: url('/images/image-1.jpg');
  background-repeat: repeat-x;
  background-size: fill;
  background-position: center;
  color: #fff;
}