* {
  font-family: 'Comic Sans MS', 'bold';
  color: #fff;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.home {
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 3px;
  padding: 25%;
}

.home {
  background-image: url('/images/photo2.jpg');
  background-repeat: repeat-x;
  background-size: fill;
  background-position: center;
  font-size: 100px;
  color: #fff;
}